@import "../../../styles/constants.scss";

.container {
  background-color: $button-submit-color;
  border-radius: 5px;
  padding: 10px;
  width: 154px;
  height: 40px;
  color: white;
  transition: opacity ease 0.2s;
  line-height: 1.3;
  font-weight: 500;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 1;
  }
}
