@import "../../styles/constants.scss";

.container {
  width: 240px;
  display: flex;
  padding: 0 20px;

  & button {
    &:last-of-type {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:first-of-type {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:nth-of-type(2) {
      border-right: 0.5px solid $text-color-light-gray;
      border-left: 0.5px solid $text-color-light-gray;
    }

    &:nth-of-type(2):hover {
      border-right: 0.5px solid $brand-color-primary;
      border-left: 0.5px solid $brand-color-primary;
    }
  }
}
